[submodule "bundle/flake8"]
	path = bundle/flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala/
